/* Mobile first workflow */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

html {
  /* Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    display: grid;
    place-items: center;

    background-color: var(--very-dark-blue-main);
}

